/* Loading Screen Styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mainColorLightFaded); /* Semi-transparent white background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    z-index: 9999; /* High z-index to overlay other elements */
  }
  
  .loading-screen img {
    width: 200px; /* Adjust the width of your GIF as needed */
    height: auto;
    opacity: 1 !important;
  }
  .loading-text{
    font-size: 1.5rem;
  }
  
  /* Optional: Add animation for a more polished look */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-screen img.spin {
    /* animation: spin 1s linear infinite; */
  }
  

  /* css for bounce text */
  
  .bouncing-text {
    position: relative;
    display: flex;
    gap: 8px;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
  }
  
  .bounceT {
    position: relative;
    color: var(--thirdColor);
    text-shadow: 0 3px var(--thirdColorDark), 0 5px var(--thirdColorDark), 0 7px var(--thirdColorDark);
  }
  
  .bounceT-1 {
    animation: bounce 1s ease infinite;
    -webkit-animation: bounce 1s ease infinite;
  }
  
  .bounceT-2 {
    animation: bounce 1s ease infinite .1s;
    -webkit-animation: bounce 1s ease infinite .1s;
  }
  
  .bounceT-3 {
    animation: bounce 1s ease infinite .2s;
    -webkit-animation: bounce 1s ease infinite .2s;
  }
  
  .bounceT-4 {
    animation: bounce 1s ease infinite .3s;
    -webkit-animation: bounce 1s ease infinite .3s;
  }
  
  .bounceT-5 {
    animation: bounce 1s ease infinite .4s;
    -webkit-animation: bounce 1s ease infinite .4s;
  }
  
  .bounceT-6 {
    animation: bounce 1s ease infinite .5s;
   -webkit-animation: bounce 1s ease infinite .5s;
  }

  .bounceT-7 {
    animation: bounce 1s ease infinite .5s;
   -webkit-animation: bounce 1s ease infinite .6s;
  }
  .bounceT-8 {
    animation: bounce 1s ease infinite .5s;
   -webkit-animation: bounce 1s ease infinite .9s;
  }
  .bounceT-9 {
    animation: bounce 1s ease infinite .5s;
   -webkit-animation: bounce 1s ease infinite 1s;
  }
  .bounceT-10 {
    animation: bounce 1s ease infinite .5s;
   -webkit-animation: bounce 1s ease infinite 1.1s;
  }
  
   @keyframes bounce {
          0%   { transform: scale(1,1) translateY(0); }
          10%  { transform: scale(1.1,.9) translateY(0); }
          30%  { transform: scale(.9,1.1)   translateY(-35px);}
          50%  { transform: scale(1.05,.95) translateY(0); }
          58%  { transform: scale(1,1) translateY(-6px); }
          65%  { transform: scale(1,1) translateY(0);}
          100% { transform: scale(1,1) translateY(0);}
      }
  
  @-webkit-keyframes bounce {
         0%   { transform: scale(1,1) translateY(0); }
          10%  { transform: scale(1.1,.9) translateY(0); }
          30%  { transform: scale(.9,1.1)   translateY(-35px);}
          50%  { transform: scale(1.05,.95) translateY(0); }
          58%  { transform: scale(1,1) translateY(-6px);}
          65%  { transform: scale(1,1) translateY(0);}
          100% { transform: scale(1,1) translateY(0);} 
  }
  
  @keyframes scale {
    0% {transform: scaleX(1);}
    25% {transform: scaleX(0.4);}
    50% {transform: scaleX(1);}
    75% {transform: scaleX(0.9);}
    100% {transform: scaleX(1);}
  }
  
  @-webkit-keyframes scale {
     0% {transform: scaleX(1);}
    25% {transform: scaleX(0.4);}
    50% {transform: scaleX(1);}
    75% {transform: scaleX(0.9);}
    100% {transform: scaleX(1);}
  }
  
  .bouncing-text:after {
    left: 57px;
    animation: scale 1s linear infinite .1s;
    -webkit-animation: scale 1s linear infinite .1s;
  }


  .loading-hint{
    width: 60%;
    margin-top: 15vh;
    text-align: center;
  }
  