
:root{
  --inputWidth: 80%;
}

#register-section {
  display: flex;
  min-height: calc(100vh - var(--navbarHeight));
  height: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  background-size: contain;
  object-fit: cover;
}


.register-section-header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.register-section-body{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px
}

.poster{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poster-title{
  margin: 10px 0px 0px 30px;
}
.poster-title h1{
  color: var(--mainColor)
}

.register-form{
width: 100%;
position: relative;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.form-step1{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}
.form-step2{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}
.form-step-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-step1.hidden{
  opacity: 0;
  pointer-events: none;
}
.form-step2.hidden{

  opacity: 0;
  pointer-events: none;
}

a, a:visited {
    color: #fff;
}

.register-form label {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: var(--inputWidth);
}
.checkBox-container {
  display: inline-block !important;
}
.checkBox-container label{
  font-weight: normal !important;
}

.register-form input,select {
  color: var(--mainColor);
  width: var(--inputWidth);
  margin: 10px 0px;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: rgba(230,230,230,0.8);
  outline: none;
}

.register-form input:focus {
  border: 2px solid var(--mainColor);

}

.register-password-input-container{
  /* this width must equal to another width of any input near this container due to other input may not have wrapped container like password */
  width: var(--inputWidth) !important;
  /* currently have to use !Important due to the css from login.css is override this */
}

.register-password-input-container input {
  width: 100%;
}

.step-buttons {
  /* position: absolute; */
  bottom: 10px;
  padding: 10px 20px;
  width: var(--inputWidth);
  display: flex;
  justify-content: space-between;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: var(--successColor);
    margin-left: 0.25rem;
}

.invalid {
    color: var(--dangerColor);
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    width: var(--inputWidth);
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* register timeline */
/* Add this CSS to your stylesheet */

/* Timeline container belong to register-section-header*/ 
.timeline-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  .step-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Individual step container */
  .step-item {
    text-align: center;
    flex: 1;
    padding: 10px;
    position: relative;
  }

  .step-progress{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  /* Step number or check icon */
  .step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--cancelColor);
    /* border: 2px solid var(--mainColor); */
    border-radius: 50%;
    font-size: 18px;
    color: var(--textColor);
    margin-bottom: 10px;
    z-index: 1;
  }
  
  /* Active step styling */
  .active .step {
    background-color: var(--thirdColor);
    color: #fff;
  }
  
  /* Completed step styling */
  .complete .step {
    background-color: var(--thirdColor);
    color: #fff;
  }
  
  /* Step description text */
  .text-gray-500 {
    color: #808080;
  }
  
  /* Button styling */

  .back-btn{
    background-color: var(--dangerColor);
  }
  .next-btn {
    background-color: var(--successColor);
  }
  .registerBtn {
    width: var(--inputWidth);
    cursor: pointer;
    color: var(--textColor);
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--thirdColor);
  }
  .underlineBar {
    content: '';
    height: 4px; /* Thickness of the line */
    width: calc(100% - 50%); /* Adjust the length of the line */
    background-color: var(--cancelColor);
  }
  .progressBar {
    margin-top: -10px;
    position: absolute;
    left: 50%;
    content: '';
    text-align: center;
    height: 6px;
    width: 100%;
    background-color: var(--cancelColor);
    z-index: 0;
  }
  .bar-active {
    background-color: var(--thirdColor);
  }


  #pwdnote,
  #uidnote,
  #confirmnote {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  #pwdnote.instructions,
  #uidnote.instructions,
  #confirmnote.instructions {
    opacity: 1;
    transform: translateY(0);
  }
  
  #pwdnote.offscreen,
  #uidnote.offscreen,
  #confirmnote.offscreen {
    opacity: 0;
    transform: translateY(10px);
  }

  /* after register success css */
  .register-congratulation {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .rc-content{
    width: 50%;
    font-size: 2rem;
    color: var(--mainColor);
  }
  .rc-content small {
    color: var(--grayColor);
  }

  /* @keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


